<div class="container d-flex align-items-center justify-content-center">
<%= form_with(model: proyecto) do |form| %>
<div class="row align-items-center justify-content-center">
  <% if proyecto.errors.any? %>
    <div style="color: grey">
      <h5 class="row justify-content-center align-items-center">Hubieron <%= pluralize(proyecto.errors.count, "errores") %> al querer crear el proyecto!</h5>
      <ul>
        <% proyecto.errors.each do |error| %>
          <li class="row justify-content-center align-items-center" style="color: red" ><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row align-items-center justify-content-center mt-5" style="width: 18rem;">
  <div>
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div>
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_area :descripcion, class: "form-control" %>
  </div>

  <div>
    <%= form.label :fechacomienzo, 'Fecha Termino' , class: "form-label" %>
    <%= form.date_field :fechacomienzo, class: "form-control" %>
  </div>

  <div>
    <%= form.label :fechatermino,'Fecha Termino', class: "form-label" %>
    <%= form.date_field :fechatermino, class: "form-control" %>
  </div>

  <div>
    <%= form.label :estado, class: "form-label" %>
    <%= form.select(:estado, ["Propuesta","En Progreso","Terminado"], {selected: "Propuesta"}, {class: "form-select"} )%>
  </div>

  <div class="container d-flex align-items-center justify-content-center"> 
  <br><br><br><br>
    <%= form.submit "Crear Proyecto", class: "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>
</div>